<%- include('../partials/header') %>

<section id="food-list">
  <% foodItems.forEach(item => { %>
    <a href="/foodItems/<%= item._id %>" id="food-list-item">
      <img src="<%= item.picture %>" alt="<%= item.name %>">
      <h1><span><%= item.name %></span></h1>
      <div>
        <h2>$<%= item.price %></h2>
        <% if (user) { %>
          <form action="/foodItems/<%= item._id %>?_method=PUT" method="POST">
            <button type="submit"><span class="material-symbols-outlined">
              shopping_cart
              </span></button>
          </form>
        <% } %>
      </div>
    </a>
  <% }) %>
</section>

<%- include('../partials/footer') %>