<%- include('../partials/header') %>

<% foodItems.forEach(item => { %>
  <div id="item">
    <h2><%= item.name %></h2>
    <p><%= item.description %></p>
    <img src="<%= item.picture %>" alt="<%= item.name %>">
  </div>
<% }) %>

<%- include('../partials/footer') %>