<%- include('../partials/header') %>

<section id="food-list">
  <% foodItems.forEach(item => { %>
    <a href="/foodItems/<%= item._id %>" id="food-list-item">
      <h2><%= item.name %></h2>
      <img src="<%= item.picture %>" alt="<%= item.name %>">
      <h3>$<%= item.price %></h3>
    </a>
  <% }) %>
</section>

<%- include('../partials/footer') %>