<%- include('../partials/header') %>
<section id="show-item">
  <img src="<%= foodItem.picture %>" alt="<%= foodItem.name %>">
  <h2><%= foodItem.name %></h2>
</section>
<%- include('../partials/footer') %>