<%- include('../partials/header') %>
<section id="show-item">
  <img src="<%= foodItem.picture %>" alt="<%= foodItem.name %>">
  <h2><%= foodItem.name %></h2>
  <% if (user) { %>
    <form action="/foodItems/<%= foodItem._id %>?_method=PUT" method="POST">
      <button type="submit">Add to Cart</button>
    </form>
  <% } %>
  <h4>Reviews:</h4>
  <% foodItem.reviews.forEach(review => { %>
    <p><%= review.userName %>: <%= review.content %></p>
    <% if (user && user._id.equals(review.user)) { %>
      <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form> 
    <% } %>
  <% }) %>
  <% if (user) { %>
    <form action="/foodItems/<%= foodItem._id %>/reviews" method="POST">
      <textarea name="content"></textarea>
      <input type="submit" value="Add Review">
    </form>
  <% } %>
</section>
<%- include('../partials/footer') %>